ul#weather li{
  padding: 0;
  margin: 0;
  /* display: flex;*/
  align-items: center; 
  justify-content: center;
}

#series2{
color: rgb(28, 255, 130);
}
ul#weather li{
  list-style-type: none;
  text-align: center;
}
ul#weather li img.icon{
  width: 10%;
}
ul#weather li .date{ 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
} 

ul#weather li .text{
  font-weight: bold;
} 