@import 'base';
@import 'bootstrap';

.glass, .apexcharts-canvas {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.4px);
  -webkit-backdrop-filter: blur(12.4px);
}

.apexcharts-canvas {
  border-radius: 1.5rem;
}

.card {
  border-radius: 2.5em;
}